@import "../../styles/variables.scss";
@import "../../styles/mixins";

#script {
  #scriptForm {
    margin-left: 42px;
    @include inputText;

    input {
      margin: 8px 0 20px 0;
      display: block;
      width: 346px;
      height: 66px;
      @include inputText;
    }
  }

  .btnScript {
    left: 100px;
    top: 552px;
  }
}
