@import "../../styles/variables.scss";
@import "../../styles/mixins";

#social {
  margin-left: 24px;

  ul {
    margin-bottom: 10px;
    @include inputText;
  }
  li {
    padding-top: 8px;
    list-style: none;
    @include liText;
  }
}
