@mixin inputText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $dark;
}

@mixin buttonText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $dark;
}

@mixin titleText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $dark;
}

@mixin liText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $dark;
}

@mixin tableHead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $dark;
}

@mixin tableBody {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $dark;
}

@mixin btn {
  display: flex;
  padding: 22px 84px;
  position: relative;
  width: 100%;
  max-width: 231px;
  height: 66px;
  background: $green;
  border: 1px solid $green;
}
