.scrol {
  overflow-x: scroll;
}
.scrol::-webkit-scrollbar {
  width: 0px;
}
.scrol .lead_table {
  width: 490px;
  height: 142px;
  margin: 12px 0 10px 24px;
}
.scrol .lead_table th {
  padding: 0 10px;
  width: auto;
  height: 30px;
  background-color: #ffdc00;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.scrol .lead_table td {
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  position: relative;
}
.scrol .lead_table td a {
  width: 93px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
}