@import "../../styles/variables.scss";
@import "../../styles/mixins";

#loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 0 5px;
  @include inputText;
}
