@import "../../styles/variables.scss";
@import "../../styles/mixins";
@import "./formLogin.scss";

#login {
  position: relative;

  #login_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .triangle {
      width: 140px;
      height: 140px;
      margin-top: 44px;
      position: relative;
      left: 145px;
    }

    .login_btn {
      left: 100px;
      top: 568px;
    }
  }
}
