@import "../../styles/variables.scss";
@import "../../styles/mixins";

#apps {
  max-width: 430px;
  width: 100%;
  position: relative;

  margin: 0 auto;
  h1 {
    margin: 30px 0 17px 24px;
    @include titleText;
  }

  .app {
    margin: 42px 0 42px 24px;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h4 {
    margin-left: 20px;
    @include inputText;
  }

  a {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 24px;
  }
}
